:root {
  --lightmint: #f1f7ed;
  --darkpurple: #331832;
  --purple: #694d75;
  --mauve: #cea0ae;
  --darkgreen: #093a3e;
  --deeppurple: #4f4750;
  --mint: #bacec8;
  --charcoal: #404e5c;
  --lightpurple: #af9ab2;
  --navy: #0e1627;
  --mauve2: #bd8e89;
  --pink: #ca8e82;
  --blush: #f2d6ce;
  --prune: #d9b99f;
  --peachfuzz: #f2e7dd;
  --jasper: #a75f37;
  --apricot: #f09367;
  --coppertulip: #ce5a43;
  --copperrust: #d9b99f;
  --buccaneer: #292421;
}

* {
  /* background-color: var(--lightmint);
  color: var(--charcoal); */
  font-family: "Averia Serif Libre", serif;
}

.calistoga-regular {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

.headers {
  text-align: center;
  color: var(--jasper);
  margin-bottom: 20px;
  font-size: 6rem;
  position: relative;
  z-index: 1;
}
#about-section {
  position: relative;
  z-index: 1;
  text-align: left;
}

.about-header {
  text-align: left;
}

.experiences-title {
  text-align: right;
}

.add-assign {
  text-align: center;
  color: var(--pink);
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 3rem;
  position: relative;
  z-index: 1;
}

.about-p {
  font-size: 1.5rem;
  text-align: left;
  margin: 50px;
  color: var(--buccaneer);
}

.section {
  padding-top: 200px;
  margin-top: 200px;
}

.alt-background {
  position: relative;
  z-index: 1;
  background-color: var(--peachfuzz);
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 100px;
  margin-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* border-radius: 25px;
  border-style: solid;
  border-width: 10px;
  border-color: var(--copperrust); */
}

/* #portfolio-section {
  position: relative;
  z-index: 1;
  background-color: var(--peachfuzz);

  padding-left: 100px;
  padding-right: 100px;

  padding-top: 50px;
  padding-bottom: 50px;
} */
.custom-tooltip .tooltip-inner {
  background-color: var(--jasper);
  color: var(--blush);
}

.nav-underline .nav-link.active {
  color: var(--peachfuzz) !important;
  text-decoration: underline;
}

.nav-underline .nav-link {
  color: var(--blush) !important;
}

.nav-underline:hover .nav-link:hover {
  color: var(--peachfuzz) !important;
}

.navbar-brand {
  font-size: 3rem;
}

.nav-item {
  font-size: 2rem;
}

.project-button,
.project-button-link {
  background-color: var(--charcoal) !;
  color: var(--mint) !;
  text-decoration: none!;
  border: none !;
}

.project-button:hover,
.project-button-link:hover {
  background-color: var(--lightmint) !important;
  color: var(--charcoal) !;
  text-decoration: none!;
  border: none!;
}

/* .card-img-top:hover {
  border: solid var(--lightmint) 5px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 20px var(--charcoal), 0 0 15px var(--charcoal);
} */

.card-footer {
  background-color: var(--mint) !;
  border: none!;
}

.card {
  border: solid var(--charcoal) 1px;
}

.card-header {
  border: none;
}

.footer-link {
  color: var(--darkpurple) !;
}

.footer-link:hover {
  color: var(--mauve) !;
  font-weight: bold;
}

.carousel-indicators {
  background-color: transparent;
}

p {
  font-size: 1.5rem;
}
a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.major-project {
  text-decoration: none !important;
}

.major-project:hover {
  text-decoration: none !important;
}

.averia-light {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: normal;
}

.averia-regular {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.averia-bold {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.averia-light-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: italic;
}

.averia-regular-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: italic;
}

.averia-bold-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: italic;
}

p {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.list-group {
  background-color: var(--mint) !important;
  color: var(--charcoal) !important;
}

.project-card-main {
  border: 10px solid var(--peachfuzz) !important;
  border-radius: 25px !important;
  transition: box-shadow 0.3s; /* Add a transition for smooth effect */

  /* Initial box shadow */
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); /* No shadow initially */

  /* Add shadow on hover */
  &:hover {
    box-shadow: 0 0 30px 5px rgba(104, 39, 29, 0.5); /* Adjust the values for the shadow effect */
  }
}

.carousel-projects {
  background-color: var(--jasper);
  width: 50% !important;
  justify-content: center;
  background-color: transparent;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

  border-radius: 25px;

  &:hover {
    box-shadow: 0 0 30px 5px rgba(139, 69, 79, 0.5); /* Adjust the values for the shadow effect */
  }
}
.carousel-pic {
  opacity: 0.9;
}

@media (max-width: 1250px) {
  .carousel-projects {
    width: 100% !important; /* Change the width to 90% for small screens */
  }

  .carousel-pic {
    opacity: 0.5;
  }

  .caption-title {
    color: var(--buccaneer) !important;
  }

  .caption-title {
    color: var(--buccaneer) !important;
    font-size: 1rem;
  }

  .languages {
    font-size: 0.75rem;
    margin-bottom: -20px;
  }

  .description {
    font-size: 1rem;
    margin-bottom: -10px;
  }
}

@media (max-width: 2100px) {
  .carousel-pic {
    opacity: 0.5;
  }
  .carousel-projects {
    width: 60% !important; /* Change the width to 90% for small screens */
  }
}
.carousel {
  background-color: var(--pink);
}
.custom-tooltip2 .tooltip-inner {
  background-color: var(--pink);
  color: var(--peachfuzz);
}

.experiences-header {
  background-color: var(--pink) !important;
}

.experiences-card {
  width: 80%;
  margin-top: 30px;
}

.experiences-body {
  background-color: var(--peachfuzz);
  color: var(--buccaneer);
}

.intro {
  margin: 100px;
  padding: 100px;
  position: relative;
  z-index: 1;
  margin-left: 200px;
}

.intro-words {
  /* position: relative;
  z-index: 1;
  background-color: var(--pink);
  opacity: 0.5;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 100px;
  margin-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px; */
}
.intro-text {
  color: var(--pink);

  font-size: 2.5rem;
  text-align: left;
  margin-bottom: -10px;
}

.intro-name {
  font-size: 7rem;
  color: var(--jasper);
  text-align: left;
}

.intro-title {
  font-size: 3.5rem;
  color: var(--pink);
  text-align: left;
  margin-top: -40px;
}

/* .custom-tooltip2 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: purple; 
  color: #fff; 
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
} */

/* .custom-tooltip2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: purple transparent transparent transparent;
}

.custom-tooltip2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} */

.custom-tooltip2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--blush) transparent; /* Change the color of the arrow here */
  filter: invert(1); /* Invert the color to match the custom color */
}

.head {
  color: var(--jasper);
  font-size: 2.25rem;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
}

.head2 {
  color: var(--pink);
  font-size: 1.75rem;
  padding-top: 5px;
  padding-left: 20px;
}

.head3 {
  color: var(--pink);
  font-size: 1.5rem;
  padding-left: 20px;
}

.bodyy {
  padding: 20px;
}

.skills-header {
  text-align: left;
  margin-left: 100px;
  font-size: 4.5rem;
}
.skill-section {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
}
.logo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px;
}

.logos {
  height: 60px;
  width: 60px;
  display: flex;
}

.logo-name {
  text-align: center;
  color: var(--buccaneer);
  margin-top: 10px;
}

.tech-labels {
  font-size: 3rem;
  text-align: center;
  color: var(--pink);
}

#resume-section {
  position: relative;
  z-index: 1;
  background-color: var(--peachfuzz);

  margin-left: 100px;
  margin-right: 50px;
  padding-top: 5px;
  margin-bottom: 250px;
}
/* 
.custom-tooltip2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: purple transparent transparent transparent; 
}

.custom-tooltip2 .tooltiptext::after {
  border-color: var(--mint) transparent transparent transparent;
} */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-condensed-extralight {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-medium {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-condensed-semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-condensed-extrabold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-condensed-black {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-condensed-thin-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-condensed-extralight-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-condensed-light-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-condensed-regular-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-condensed-medium-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-condensed-semibold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-condensed-bold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-condensed-extrabold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-condensed-black-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-alternates-light {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-alternates-black {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-alternates-thin-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.montserrat-alternates-light-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-alternates-regular-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-alternates-semibold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.montserrat-alternates-bold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.montserrat-alternates-black-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: italic;
}
