:root {
  --lightmint: #f1f7ed;
  --darkpurple: #331832;
  --purple: #694d75;
  --mauve: #cea0ae;
  --darkgreen: #093a3e;
  --deeppurple: #4f4750;
  --mint: #bacec8;
  --charcoal: #404e5c;
  --lightpurple: #af9ab2;
}

* {
  /* background-color: var(--lightmint);
  color: var(--charcoal); */
  font-family: "Averia Serif Libre", serif;
}

.custom-tooltip .tooltip-inner {
  background-color: var(--darkgreen);
  color: var(--lightmint);
}

.nav-underline .nav-link.active {
  color: var(--lightmint) !important;
}

.nav-underline .nav-link {
  color: var(--mint) !important;
}

.nav-underline:hover .nav-link:hover {
  color: var(--lightmint) !important;
}

.project-button,
.project-button-link {
  background-color: var(--charcoal) !;
  color: var(--mint) !;
  text-decoration: none!;
  border: none !;
}

.project-button:hover,
.project-button-link:hover {
  background-color: var(--lightmint) !important;
  color: var(--charcoal) !;
  text-decoration: none!;
  border: none!;
}

/* .card-img-top:hover {
  border: solid var(--lightmint) 5px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 20px var(--charcoal), 0 0 15px var(--charcoal);
} */

.card-footer {
  background-color: var(--mint) !;
  border: none!;
}

.card {
  border: solid var(--charcoal) 1px;
}

.card-header {
  border: none;
}

.footer-link {
  color: var(--darkpurple) !;
}

.footer-link:hover {
  color: var(--mauve) !;
  font-weight: bold;
}

.carousel-indicators {
  background-color: transparent;
}

p {
  font-size: 1.5rem;
}
a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

.major-project {
  text-decoration: none !important;
}

.major-project:hover {
  text-decoration: none !important;
}

.averia-light {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: normal;
}

.averia-regular {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.averia-bold {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.averia-light-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: italic;
}

.averia-regular-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: italic;
}

.averia-bold-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: italic;
}

p {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.list-group {
  background-color: var(--mint) !important;
  color: var(--charcoal) !important;
}

.project-card-main {
  border: 10px solid var(--darkgreen) !important;
  border-radius: 25px !important;
  transition: box-shadow 0.3s; /* Add a transition for smooth effect */

  /* Initial box shadow */
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); /* No shadow initially */

  /* Add shadow on hover */
  &:hover {
    box-shadow: 0 0 30px 5px rgba(9, 58, 62, 0.5); /* Adjust the values for the shadow effect */
  }
}

.carousel-projects {
  background-color: var(--mint);
  width: 65% !important;
  justify-content: center;
  background-color: transparent;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

  border-radius: 25px;

  &:hover {
    box-shadow: 0 0 30px 5px rgba(9, 58, 62, 0.5); /* Adjust the values for the shadow effect */
  }
}

.carousel {
  background-color: var(--mint);
}
.custom-tooltip2 .tooltip-inner {
  background-color: var(--mint);
  color: var(--darkgreen);
}

.experiences-header {
  background-color: var(--darkgreen) !important;
}

.experiences-body {
  background-color: var(--mint);
  color: var(--darkgreen);
}

/* .custom-tooltip2 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: purple; 
  color: #fff; 
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
} */

/* .custom-tooltip2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: purple transparent transparent transparent;
}

.custom-tooltip2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} */

.custom-tooltip2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--mint) transparent; /* Change the color of the arrow here */
  filter: invert(1); /* Invert the color to match the custom color */
}
/* 
.custom-tooltip2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: purple transparent transparent transparent; 
}

.custom-tooltip2 .tooltiptext::after {
  border-color: var(--mint) transparent transparent transparent;
} */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
